html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

section{
    width: 100%;
    padding: 100px;
}

.one{
    background: #023e8a;
    border-radius: 10px;
}

.two{
    background: #0077b6;
    border-radius: 20px;
}

.three{
    background: #0096c7;
    border-radius: 30px;
}